{{template "base" .}}

{{define "title"}}Acknowledgements{{end}}
{{define "body"}}
<article class="site-content-dense">
    <h2>Acknowledgements</h2>
    <p>
        Bitcoin Hub was inspired very much by <a href="https://news.ycombinator.com/">Hacker News</a>. In fact it is a
        direct clone!
    </p>
    <p>
        It was build as a hobby project from scratch using Golang's standard library.
    </p>
    <p>
        The source code is available at <a href="https://github.com/bjarnemagnussen/go-hackernews">GitHub</a>.
    </p>
</article>

{{end}}