{{define "comment"}}
        <td>
            <div style="margin-bottom:3pt;">
                <span class="smaller"><a href="/user/profile/{{.Username}}">{{.Username}}</a></span>
                <span class="smaller"><span class="moment" data-timestamp="{{.Created.Format "2006-01-02T15:04:05Z"}}">{{moment .Created .Retrieved}} ago</span></span>
            </div>
            <div class="comment-body">
                {{if .Deleted}}[deleted]{{else}}{{ .Content | markDown }}{{end}}
                {{/*DEBUG<br/>ID: {{.ID}}<br/>Score: {{.Votes}}<br/>Level: {{.Level}}<br/>Leaf: {{.Leaf}}<br/>Path: {{.Path}}*/}}

            <div>
              <span class="smaller">
                {{if not .Deleted}}<a href="/items/{{.PostID}}/comments/{{.ID}}"><u>reply</u></a>{{end}}
              </span>
            </div>
            </div>
        </td>
{{end}}