{{template "base" .}}

{{define "title"}}FAQ{{end}}
{{define "body"}}
<article class="site-content-dense">
    <h2>FAQ</h2>
    <p>
        <h3>Are there rules about submissions and comments?</h3>
    </p>
    <p>
        <a href="guidelines">See our guidelines</a>.</p>
    <p>
        <h3>How are stories ranked?</h3>
    </p>
    <p>
        The basic algorithm divides points by a power of the time since a story was submitted. Comments in
        threads are ranked the same way.
    </p>
    <p>
        Other factors affecting rank include user flags, anti-abuse software, software which demotes overheated
        discussions, account or site weighting, and moderator action.
    </p>
    <p>
        <h3>How is a user's karma calculated?</h3>
    </p>
    <p>
        Roughly, the number of upvotes on their posts minus the number of downvotes. These don't match up
        exactly. Some votes are dropped by anti-abuse software.
    </p>
    <p>
        <h3>Do posts by users with more karma rank higher?</h3>
    </p>
    <p>
        No.
    </p>
    <p>
        <h3>Why don't I see down arrows?</h3>
    </p>
    <p>
        There are no down arrows on stories. They appear on comments after users reach a certain karma
        threshold, but never on direct replies.
    </p>
    <p>
        <h3>What kind of formatting can you use in comments?</h3>
    </p>
    <p>
        <a href="https://guides.github.com/features/mastering-markdown/">Markdown</a>
    </p>
    <p>
        <h3>How do I submit a question?</h3>
    </p>
    <p>
        Use the submit link in the top bar, and leave the url field blank.
    </p>
    <p>
        <h3>How do I make a link in a text submission?</h3>
    </p>
    <p>
        You can't. This is to prevent people from submitting a link with their comments in a privileged position
        at the top of the page. If you want to submit a link with comments, just submit it, then add a regular
        comment.
    </p>
    <p>
        <h3>What do green usernames mean?</h3>
    </p>
    <p>
        Green indicates a new account.</p>
    <p>
        <h3 id="ask-show">What are Ask Us and Show Us?</h3>
    </p>
    <p>
        <a href="ask/popular">Ask Us</a> lists questions and other text submissions. <a href="show/popular">Show Us</a> is for
        sharing your personal work and has special <a href="show-us">rules</a>.</p>
    <p>
        <h3>Why hasn't my submission appeared on Ask Us or Show Us?</h3>
    </p>
    <p>
        All submissions appear on <a href="newest">newest</a>, and all Show Us/Ask Us on <a href="show/newest">show
            newest</a>/<a href="ask/newest">ask newest</a>, but there is a small points
        threshold before a post appears on <a href="ask/popular">ask</a> or <a href="show/popular">show</a>.</p>
    <p>
        <h3>What does [flagged] mean?</h3>
    </p>
    <p>
        It means that users flagged a post as breaking the <a href="guidelines">guidelines</a> or otherwise not
        belonging on Hacker News.</p>
    <p>
        Moderators sometimes add [flagged] for the same reasons, and sometimes turn flags off when they are
        unfair.</p>
    <p>
        <h3>How do I flag a comment?</h3>
    </p>
    <p>
        Click on its timestamp to go to its page, then click the 'flag' link at the top. There's a small karma
        threshold before flag links appear.</p>
    <p>
        <h3>Are reposts ok?</h3>
    </p>
    <p>
        If a story has not had significant attention in the last year or so, a small number of reposts is ok.
        Otherwise we bury reposts as duplicates.</p>
    <p>
        Please don't delete and repost the same story. Deletion is for things that shouldn't have been submitted
        in the first place.</p>
    <p>
        <h3>Are paywalls ok?</h3>
    </p>
    <p>
        It's ok to post stories from sites with paywalls that have workarounds.</p>
    <p>
        In comments, it's ok to ask how to read an article and to help other users do so. But please don't post
        complaints about paywalls. Those are off topic.
    </p>
    <p>
        <h3>Can I ask people to upvote my submission?</h3>
    </p>
    <p>
        No. Users should vote for a story because they personally find it intellectually interesting, not
        because someone has content to promote.</p>
    <p>
        The software penalizes submissions, accounts, and sites that break this rule, so please don't.</p>
    <p>
        <h3>Can I ask people to comment on my submission?</h3>
    </p>
    <p>
        No, for the same reason. It's also not in your interest. {{.SiteShort}} readers are sensitive to this,
        and they will detect it, flag it, and use unkind words like 'spam'.</p>
    <p>
        <h3>Can I post a job ad?</h3>
    </p>
    <p>
        Please don't post job ads as submissions.</p>
    <p>
        A regular "Who Is Hiring?" thread may appear on the first weekday of each month. Most job ads are
        welcome there. Only an account called <a href="submitted/whoishiring">whoishiring</a> is allowed to
        submit the thread itself. This prevents a race to post it first.</p>
    <p>
        <h3>Why can't I post a comment to a thread?</h3>
    </p>
    <p>
        Threads are closed to new comments after two weeks, or if the submission has been killed by software,
        moderators, or user flags.</p>
    <p>
        <h3>Why is A ranked below B even though A has more points and is newer?</h3>
    </p>
    <p>
        You can't derive rank from votes and time alone. See "How are stories ranked?" above.</p>
    <p>
        {{/* <h3>How do I reset my password?</h3></p>
<p>
If you have an email address in your profile, you can do that
<a href="https://news.ycombinator.com/forgot?id=">here</a>. If
you haven't, email us for help.</p>
<p>
<h3>Can I change my username?</h3></p>
<p>
Yes. Email us and we'll help.</p>
<p> */}}
        <h3>Can I delete my account?</h3>
    </p>
    <p>
        We try not to delete entire account histories because that would gut the threads the account had
        participated in and is unfair to commenters who replied. However, we care about protecting individual
        users and take care of privacy requests every day, so if we can help, please email us. We don't want
        anyone to get in trouble from anything they posted.</p>

    <p>
</article>

{{end}}