{{define "footer" }}
<nav id="pre-footer-bar">
    <hr>
</nav>

<nav id="footer-bar">
    {{.FooterText}}
    <br />
    <a href="/guidelines">Guidelines</a>
    |
    <a href="/acknowledgements">Acknowledgements</a>
</nav>
{{end}}