{{template "base" .}}

{{define "title"}}Newest{{end}}
{{define "body"}}
    <article class="site-content-dense">
    <table border="0" cellpadding="0" cellspacing="0" class="item-list outer level-0">
    {{if eq .Page "show/popular"}}
            <tr style="height:6px"></tr>
            <tr>
                <td colspan="2"></td>
                <td>Please read the <a href="/show-rules"><u>rules</u></a>. You can also browse the <a href="/show/newest"><u>newest</u></a> Show Us.</td>
            </tr>
            <tr class="spacer"></tr>
    {{else if eq .Page "ask/popular"}}
            <tr style="height:6px"></tr>
            <tr>
                <td colspan="2"></td>
                <td>Please read the <a href="/faq#ask-show"><u>rules</u></a>. You can also browse the <a href="/ask/newest"><u>newest</u></a> Ask Us.</td>
            </tr>
            <tr class="spacer"></tr>
    {{end}}
    {{/* {{$n := len .Posts}} */}}
    {{if .Posts}}
        {{range $i, $p := .Posts}}
                <tr>
                    <td rowspan="2">{{add $.StartRank $i}}.</td>
                    {{/* TODO: Would be better if voting can be moved to post.partial.tmpl (problem parsing in CSRFToken) */}}
                    <td rowspan="2">
                        <div>
                            {{if not $.IsAuthenticated}}
                            <form method="GET" action="/user/login">
                            <input type="hidden" name="goto" value="items/{{.ID}}">
                            <button type="submit" class="vote-button" aria-label="Upvote"><div class="arrow-up"></div></button>
                            </form>
                            {{else if eq .Votable 0}}
                            &nbsp;
                            {{else if eq .Votable 2}}
                            <span class="self-item">*</span>
                            {{else}}
                            <form class="vote-form upvote" method="POST" action="/items/{{.ID}}/upvote">
                            <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                            <input type="hidden" name="goto" value="items/{{.ID}}">
                            <button type="submit" class="vote-button" aria-label="Upvote"><div class="arrow-up"></div></button>
                            </form>
                            {{end}}
                        </div>
                    </td>
                    {{ template "post" $p }}
                </tr>
                <tr class="spacer"></tr>
        {{end}}
        {{if $.MoreURL}}
                <tr>
                    <td colspan="2"></td>
                    <td class="title">
                        <a href="/{{$.Page}}/{{$.MoreURL}}" class="morelink" rel="next">More</a>
                    </td>
                </tr>
        {{end}}
    {{else}}
            <tr style="height:6px"></tr>
            <tr>
                <td colspan="2"></td>
                <td>
                    There is nothing to see here...
                    {{if is .Page "ask"}}
                    You can <a href="/submit">submit</a> a new question (starting with "Ask Us:") to be the first posted question here!
                    {{else if is .Page "show"}}
                    Read the rules about "Show Us" to <a href="/submit">submit</a> first project story to appear here!
                    {{end}}
                </td>
            </tr>
    {{end}}
        </table>
{{end}}